body{
    background-color: aliceblue;
}

.rectangulo{
    background-color: white;
    height: 550px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    clip-path: inset(50px 0 0px 0);
    overflow: hidden;
}

.imagen{
    position: absolute;
    clip-path: inset(0 0 30px 0);
    left: 472px;
    top: 100px;
    overflow: hidden;
}


img{
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

.wavy{
    min-height: 100vh;
    width: 60%;
    top: 181px;
    right: 471px;
    position: absolute;
    display: flex;
    z-index: 9000;

}

svg{
    position: absolute;
    top: 10%;
    left: 50%;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Lato;
    src: url(Lato-Bold.ttf);
}

.titulo{
    font-family: Poppins;
    font-size: 24px;
    margin-left: 30px;
    position: absolute;
    top: 50%;   
}

.cuerpo{
    font-family: Lato;
    font-size: 16px;
    margin-left: 30px;
    top: 67%;
    position: absolute;
    opacity: 60%;
}

hr{
    position: absolute;
    top: 80%;
    width: 100%;
    opacity: 30%;
}

.avatar{
    border-radius: 100%;
    margin-left: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 5px;
    border: 3px solid rgba(128, 128, 128, 0.2);
}

.nombre{
    font-family: Lato;
    font-size: 16px;
    position: absolute;
    bottom: 37px;
    left: 22%;
}

.detalles{
    font-family: Lato;
    font-size: 12px;
    position: absolute;
    left: 22%;
    bottom: 23px;
    opacity: 60%;
}